<deader>
      <div class="cover text-white text-center">
        <h1 class="header-content">Gift</h1>
        <p class="header-second">教えたいと教わりたいを未来へつなぐ</p>
        <% if current_user %>
        <% else %>
        <a href="/users/sign_up"class="btn-circle-border-double">新規登録をする</a>
        <% end %>
      </div>
</deader>

<main>
  <section class="features">
    <div class="section-container">
      <h1 data-subtitle="- Features -"
      class="section-title">GIFTの使い方</h1>
      <section class="feature">
        <img src="assets/main5"
        width="465" height="270">
      <div class="desc">
        <h1>&#9998;先生になろう&#9998;</h1>
        <p>
          先生として勉強やスポーツを子供に教えてあげよう！
          <br>
          ・プログラミングを教えたい
          <br>
          ・おかし作りを教えたい
          <br>
          ・スポーツを教えたい
          <br>
          ・勉強を教えたい
          <br>
          教えたいを提供できるサイトです！
        </p>
       </div>
       </section>

      <section class="feature">
        <img src="<%= "/assets/main7.jpg"%>" class="profile" width="465" height="270">
      <div class="desc">
        <h1>&#127873;プレゼント&#127873;</h1>
        <p>
          使わなくなった物をプレゼントしよう！
          <br>
          ・野球道具やサッカー等の道具
          <br>
          ・使わずに捨てようとしている筆記用具
          <br>
          ・使わなくなったユニフォーム
          <br>
          ・パソコンや勉強道具
          <br>
          捨ててしまう物や使わなくなった物を子供にプレゼント！
        </p>
       </div>
       </section>

      <section class="feature">
        <img src="assets/main6"
        width="465" height="270">
      <div class="desc">
        <h1>&#9834;子供のミライ&#9834;</h1>
        <p>
          習い事をさせてあげたい、いろんな事に挑戦できる環境を探しませんか？
          <br>
          ・子供のやりたいを応援したい
          <br>
          ・習い事をさせてあげたい
          <br>
          ・何かに興味を持って欲しい
          <br>
          ・いろんな事にチャレンジして欲しい
          <br>
          子供のミライを豊かなものにしていきましょう！
        </p>
      </div>
      </section>
  </section>
  </div>
            
</main>

<section class="voices">
              <h1 data-subtitle="- Description -" class="section-title">GIFT PRESENTS</h1>
               <div class="flex">
                <section class="voice type-1">
                  <img src="assets/image1" width="130" height="130">
                  <h3>教えてくれる先生を評価したり評価を一覧することができるよ&#127881;</h3>
                </section>

                <section class="voice type-2">
                  <img src="assets/image2" width="130" height="130">
                  <h3>掲示板や投稿機能を使って興味のある事やプレゼントを探してみよう&#128269;</h3>
                </section>

                <section class="voice type-3">
                  <img src="assets/image8" width="130" height="130" alt="利用者C">
                  <h3>friendになって情報を共有したり、<br>メッセージ機能を使ってみよう&#128506;</h3>
                </section>
              </div>
</section>
<br>
<section class="call-to-action orange-bg">
      <div class="footer_line">
        <div class="button">GIFTをShareする</div>
        <div class="social twitter"><a href="http://twitter.com/share?url=https://calm-cliffs-71962.herokuapp.com/&text=&#127873;GIFTをシェアする!!" target="_blank"><i class="fab fa-twitter-square"></i></a></div>
        <div class="social facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=https://calm-cliffs-71962.herokuapp.com/" target="_blank"><i class="fab fa-facebook"></i></a></div>
        <div class="social line"><a href="http://line.me/R/msg/text/?https://calm-cliffs-71962.herokuapp.com(&#127873;GIFTをシェアする!!)" target="_blank"><i class="fab fa-line"></i></a></div>
      </div>

      
   <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
     <defs>
      <filter id="goo">
         <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
         <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
         <feBlend in="SourceGraphic" in2="goo" />
  	  </filter>
     </defs>
   </svg>
  </section>
  </div>
    
  <footer>
    <p>&#9787; gift_presentes.com</p>
  </footer>
  
  <script>
      
(function($) { "use strict";
         
  $(".button").click(function(){
  $(".social.twitter").toggleClass("clicked");
  $(".social.facebook").toggleClass("clicked");
  $(".social.line").toggleClass("clicked");
})
  
              
})(jQuery); 
    </script>