.my-form {
    width:500px;
}

.main-page {
    margin-top:50px;
}

.header-image {
  background-image: url(/assets/main4.jpg);
  height:600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-content{
  color:white;
  font-size:75px;
  padding-top:400px;
  font-family: 'Anton', sans-serif;
}

.header-second{
  font-size:30px;
  color:white;
  font-family: 'Anton', sans-serif;
}